:root {
  --gutter: 20px;
}

.app {
  padding: var(--gutter) 0;
  display: grid;
  grid-gap: var(--gutter) 0;
  grid-template-columns: var(--gutter) 1fr var(--gutter);
  align-content: start;
}

.app > * {
  grid-column: 2 / -2;
}

.app > .full {
  grid-column: 1 / -1;
}

.hs {
  display: grid;
  grid-gap: calc(var(--gutter) / 2);
  grid-template-columns: 10px;
  grid-template-rows: minmax(150px, 1fr);
  grid-auto-flow: column;
  grid-auto-columns: calc(20% - var(--gutter) * 2);

  overflow-x: scroll;
  scroll-snap-type: x proximity;
  padding-bottom: calc(0.75 * var(--gutter));
  margin-bottom: calc(-0.25 * var(--gutter));
}

.hs:before,
.hs:after {
  content: "";
  width: 10px;
}

/* Demo styles */

body {
  color: white;
  background-color: #1e1e1e;
  user-select: none;
}

ul {
  list-style: none;
  padding: 0;
}

h1,
h2,
h3 {
  margin: 0;
}

.hs > li,
.item {
  scroll-snap-align: center;
  padding: calc(var(--gutter) / 2 * 1.5);
  display: flex;
  flex-direction: column;
  text-shadow: 2px 2px 2px #000000;
  background: #fff;
  border-radius: 8px;
}

.no-scrollbar {
  scrollbar-width: none;
  margin-bottom: 0;
  padding-bottom: 0;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

textarea {
  resize: none;
}

.admin-table,
.admin-table thead,
.admin-table tbody,
.admin-table tr,
.admin-table th,
.admin-table td {
  border: 1px solid #dddddd;
  padding: 10px;
}

//admin

.xadmin {
  display: grid;
  //grid-gap: 10px;
  grid-template-rows: 40px auto;
  grid-template-columns: 300px auto;
  height: 100%;
}

.xadmin .leftarea {
  //takes up left side
  grid-column: 1 / span 1;
  grid-row: 1 / span 2;
}

.xadmin .rightarea {
  //takes up right side
  grid-column: 2 / span 1;
  grid-row: 1 / span 2;
  padding: 24px 24px 24px 24px;
}

.xadmin .fullarea {
  //takes up all space
  grid-column: 1 / span 2;
  grid-row: 2;
}

.xadmin .topbar {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}

.xadmin body {
  text-align: center;
}

.xadmin .sidebartoggle {
  font-size: 30px;
  cursor: pointer;
  transition: 0.3s;
  color: white;
  grid-column: 1 / span 2;
  grid-row: 1;
}

.xadmin .sidebartoggle:hover {
  color: lightgray;
}

.xadmin .leftarea .sidebaropened {
  width: 300px;
}

.xadmin .fullarea .sidebaropened {
  width: 100%;
}

.xadmin .sidebarclosed {
  width: 0px;
}

.xadmin .sidebar {
  //width: 0px; //300px
  height: 100%;
  background: #01283d;
  transition: 0.5s;
  white-space: pre;

  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  overflow-x: hidden;
  //display: float;
}

.xadmin .sidebar .scrollable {
  overflow-y: scroll;
  flex: 1;
}

.xadmin .sidebar img {
  width: 100%;
  max-width: 280px;
  display: block;
  padding: 30px 10px 30px 10px;
}

.xadmin .sidebar a {
  background: #013856;
  color: #0296e6;
  width: 100%;

  //height: 30px;
  font-size: 26px;
  display: block;
  text-decoration: none;
  padding: 24px 8px 24px 32px;
  transition: 0.3s;
}

.xadmin .sidebar .active {
  background: #013856;
  color: #fcfcfc;
  width: 100%;

  //height: 30px;
  font-size: 26px;
  display: block;
  text-decoration: none;
  padding: 24px 8px 24px 32px;
  transition: 0.3s;
}

.xadmin .sidebar .returns {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #0b1114;
  color: #697d87;
  padding: 8px 8px 8px 32px;
}

.xadmin .sidebar a:hover {
  color: #03a7ff;
  font-size: 32px;
}

.xadmin .sidebar .active:hover {
  color: #ffffff;
  font-size: 32px;
}

//end admin

.dotimagenav {
  height: 25px;
  width: 25px;
  //background-color: #bbb;
  border-radius: 50%;
  margin: 5px 5px 5px 5px;
  display: inline-block;
  opacity: 0.8;
}

.kiosk-panel {
  padding: 25px;
  overflow-y: scroll;
  height: 900px;
  max-height: 900px;
}

.kiosk-panel > h2 {
  text-align: center;
  font-size: 50px;
}

.kiosk-panel > p {
  font-size: 30px;
}

.kiosk-image-div {
  padding: 0;
  margin: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

html,
body {
  width: 100%;
  height: 100%;
}

.slideshow {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.create-form h3 {
  font-size: 30px;
}

h1 {
  font-size: 40px;
}

.grid-container {
  display: grid;
  //grid-gap: 10px;
  grid-template-rows: 15vh 85vh;
  grid-template-columns: 300px auto;
  height: 100%;
}

.grid-item {
  //text-align: center;
  //padding: 20px;
  font-size: 30px;
}

.logospace {
  grid-column: 1;
  grid-row: 1;
}

.logospace img {
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.searchspace {
  grid-column: 1 / span 3;
  grid-row: 1;
}

.searchspace input {
  padding-left: 30px;
  padding-right: 30px;
  font-size: 5vh;
  height: 10vh;
  width: 90%;
  margin: auto;
  display: block;
}

//categories - main homepage
.leftcategories {
  grid-column: 1;
  grid-row: 2;
  padding: 24px 24px 24px 24px;
}

.leftcategories h1:hover {
  font-size-adjust: inherit;
  font-size: 40px;
  cursor: pointer;
}

.leftcategories .sideentry {
  left: 5px;
  color: gray;
  transition: 0.5s;
}

.leftcategories .sideentryselected {
  color: white;
  left: 25px;
  transition: 0.5s;
}

//main content tiles - main homepage
.rightcontent {
  grid-column: 2 / span 2;
  grid-row: 2;
  //padding: 24px 24px 24px 24px;
}

//.sidebar div {
//  height: 200px;
//width: 20%;
//  background-color: red;
// overflow-y: scroll;
//}

.sidebarlist ul {
  padding: 25px;
  color: white;
  font-weight: bold;
}

.sidebarlist li {
  height: 250px;
  font-size: 36px;
  text-align: right;
}

.homeslideshow {
  overflow: hidden;
}

video {
  min-width: 100%;
  max-height: 83vh;
  overflow-y: hidden;
}
.leftcategories::-webkit-scrollbar {
  width: 0px; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

.rightcontent::-webkit-scrollbar {
  width: 0px; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

.hideScroll::-webkit-scrollbar {
  width: 0px; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

.fixTransitions {
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

.loader {
  position: absolute;
  top: calc(50% - 4em);
  left: calc(50% - 4em);
  width: 6em;
  height: 6em;
  border: 1.1em solid rgba(0, 0, 0, 0.2);
  border-left: 1.1em solid #00455c;
  border-radius: 50%;
  animation: load8 1.1s infinite linear;
  transition: opacity 0.3s;
}

.loginpanel {
  position: absolute;
  top: 25vh;
  left: calc(50% - 7em);
  //margin-left: -50px;
  //margin-top: -50px;
}

.loader h1 {
  animation: "";
  transform: "";
}

@keyframes load8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.admin-table-new th h1 {
  font-weight: bold;
  font-size: 1em;
  text-align: left;
  color: #185875;
}

.admin-table-new td {
  font-weight: normal;
  font-size: 1em;
  -webkit-box-shadow: 0 2px 2px -2px #0e1119;
  -moz-box-shadow: 0 2px 2px -2px #0e1119;
  box-shadow: 0 2px 2px -2px #0e1119;
}

.admin-table-new {
  text-align: left;
  overflow: hidden;
  width: 80%;
  margin: 0 auto;
  display: table;
  padding: 0 0 8em 0;
}

.admin-table-new td,
.admin-table-new th {
  padding-bottom: 2%;
  padding-top: 2%;
  padding-left: 2%;
}

/* Background-color of the odd rows */
.admin-table-new tr:nth-child(odd) {
  background-color: #323c50;
}

/* Background-color of the even rows */
.admin-table-new tr:nth-child(even) {
  background-color: #2c3446;
}

.admin-table-new th {
  background-color: #1f2739;
}

// .admin-table-new td:first-child {
//   color: #fb667a;
// }

.admin-table-new tr:hover {
  background-color: #6c96a8; //#464a52
  -webkit-box-shadow: 0 6px 6px -6px #0e1119;
  -moz-box-shadow: 0 6px 6px -6px #0e1119;
  box-shadow: 0 6px 6px -6px #0e1119;
}

.admin-table-new th:hover {
  color: #286ede;
}

.admin-table-new th.active {
  color: #286ede;
}

.admin-table-new td:hover {
  background-color: #3f99bf;
  color: #fefefe; //#2422B3
  font-weight: bold;

  box-shadow: #3682a3 -1px 1px, #3682a3 -2px 2px, #3682a3 -3px 3px, #3682a3 -4px 4px, #3682a3 -5px 5px, #3682a3 -6px 6px;
  transform: translate3d(6px, -6px, 0);

  transition-delay: 0s;
  transition-duration: 0.4s;
  transition-property: all;
  transition-timing-function: line;
}

@media (max-width: 800px) {
  .admin-table-new td:nth-child(4),
  .admin-table-new th:nth-child(4) {
    display: none;
  }
}

.fade-gradient {
  -webkit-transition: background-image 0.2s ease-in-out;
  transition: background-image 0.2s ease-in-out;
}

.enshadow h2
{
  text-shadow: 2px 2px #0c0c0c;
}

.big-shadow
{
  text-shadow: 2px 2px #0c0c0c;
}

.red-shadow
{
  text-shadow: 1px 1px #742222;
}

.btn.btn-square {
  border-radius: 0;
}

.error-box
{
    position: relative;
    top: 40vh;
    //left: calc(50% - 4em);
    height: 20vh;
    text-align: center;
}

// .caret {
//   width: 0;
//   height: 0;
//   display: inline-block;
//   border: 10px solid transparent;
// }
// .caret.down{
//   border-top-color: black;
// }
// .caret.right{
//   border-left-color: black;
// }
// .caret.up{
//   border-bottom-color: black;
// }
// .caret.left{
//   border-right-color: black;
// }